In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("india_airquality.csv", encoding="latin1")
df.head(5)

/tmp/ipython-input-1992181936.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("india_airquality.csv", encoding="latin1")

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,01-02-1990
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,01-02-1990
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,01-02-1990
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,01-03-1990
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,01-03-1990

In [ ]:

x = df['no2'].dropna().values

In [ ]:
r =102317253

ar = 0.05 * (r % 7)
br = 0.3 * ((r % 5) + 1)

In [ ]:
z = x + ar * np.sin(br * x)

mu = np.mean(z)
variance = np.var(z)
lam = 1 / (2 * variance)
c = np.sqrt(lam / np.pi)

In [ ]:
print("Learned Parameters:")
print("mu (μ) =", mu)
print("lambda (λ) =", lam)
print("c =", c)

Learned Parameters:
mu (μ) = 25.806338519611327
lambda (λ) = 0.0014599899081690277
c = 0.02155757921239688